*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1300px;
    /* max-height: 1100px; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 8fr);
    grid-template-rows: repeat(4, 4fr);
    perspective: 2500px;
}

.card {
    margin: 8px;
    border-radius: 8px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow:rgb(32, 32, 32) 0 5px 15px;
    transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:active {
    transform:scale(95%);
}

.toggleCard {
    transform: rotateY(180deg);
}

.back, .face {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgb(255, 196, 0);
    border-radius: 8px;
    pointer-events: none;
}

.back {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/frontFace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.modalWindow {
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 64px;
    color: rgb(255, 196, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindowChild {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 80%;
}

.modalWindowButton {
    max-width: 250px;
    max-height: 50px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow:rgb(32, 32, 32) 0 5px 15px;
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(255, 196, 0);
    border: none;
    outline: none;
    transition: all .3s ease;
}

.modalWindowButton:hover {
    transform: scale(115%);
}

.modalWindowButton:active {
    transform: scale(100%);
}